header, nav, article, aside, footer {
    padding: 10px;
}

html, body {
    background-image: url("kep/hatter.jpg");
}

main {
    background-color: white;
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    grid-template-areas: "h h h"
                         "n a s"
                         "f f f";
    width: 90%;
    margin: auto;
}

header {
    grid-area: h;
    text-align: center;
    background-image: url("kep/fejlec.jpg");
}

nav {
    grid-area: n;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>a {
    color: black;
    text-decoration: none;
}

nav>ul>a>li {
    background-color: rgb(0, 119, 255);
    margin: 1px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

article {
    grid-area: a;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.images>div {
    width: 150px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: 15px 15px 30px 5px #000000;
    transform: rotate(-15deg);
}

.images>div>img {
    width: 100%;
    margin: auto;
}

.no {
    margin: 20px;
    box-shadow: none !important;
}

aside {
    border-left: solid 1px rgba(139, 139, 139, 0.425);
    grid-area: s;
}

aside>p {
    text-align: justify;
}

footer {
    grid-area: f;
    text-align: center;
    background-color: rgb(0, 110, 255);
}

footer>h5 {
    margin: 5px;
}

@media screen and (max-width:900px) {
    main {
        grid-template-columns: none;
        grid-template-areas: "h"
                             "n"
                             "a"
                             "s"
                             "f";
    }
    
}

@media screen and (max-width:500px) {
    .images {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}